h1 {
    margin-top: 5rem;
    text-align: center;
}

.tableContainer {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



thead {
    background-color: rgb(213, 190, 255);
    
}

thead tr td{
    padding: 1rem 1rem;
}

tbody tr td {
    padding: 1rem 1.8rem;
    border: 1px solid rgb(241, 241, 241);
    
}

.acciones {
    display: flex;
    gap: 1rem;
}

button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #423160;
}

.btnEditar {
    background-color: rgb(199, 250, 199);

}

.btnEditar:hover {
    background-color: rgb(175, 235, 175);
    
}


.btnEliminar {
    background-color: rgb(250, 199, 199);
}
.btnEliminar:hover {
    background-color: rgb(253, 184, 184);
}